@model KillerApp.Models.AddGameViewModel

@{
    ViewData["Title"] = "Add a Game";
}

@using (Html.BeginForm("AddGame", "Game", FormMethod.Post))
{
<div>
<div>
    @Html.LabelFor(Model => Model.Game.Name)
    @Html.EditorFor(Model => Model.Game.Name)
</div>
<div>
    @Html.LabelFor(Model => Model.Game.Description)
    @Html.EditorFor(Model => Model.Game.Description)
</div>
    

    <input type="submit" name="name" value="Add" />
</div>
    
}