@model KillerApp.Models.AddGameViewModel

@{
    ViewData["Title"] = "Add a Game";
}

@using (Html.BeginForm("AddGame", "Game", FormMethod.Post))
{
<div>
    <h2>Add a Game</h2>
<div class="">
    @Html.LabelFor(Model => Model.Game.Name, htmlAttributes: new { @class = "control-label col-md-2", @style = "float: left;text-align: left;" })
    @Html.EditorFor(Model => Model.Game.Name)
</div>
<div>
    @Html.LabelFor(Model => Model.Game.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "float: left;text-align: left;" })
    @Html.EditorFor(Model => Model.Game.Description)
</div>
    

    <input type="submit" name="name" value="Add" />
</div>
    
}