@model KillerApp.Models.GameViewModel
@using KillerApp.Objects
@{
    ViewData["Title"] = "Login";
}
<div>
    <h2>Login</h2>
    <input type="text" id="username" /><br /><br />
    <input type="password" id="password" /><br /><br />
    <input type="submit" onclick=""/>
</div>

@functions{

    
}
